#tindog {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: gray;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
    /* my nav bar already aligned to the text below? */
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Ubuntu';
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.dog {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features */

#features {
    padding: 7% 15%;
    background-color: white;
    z-index: 1;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icons {
    color: salmon;
    margin-bottom: 1rem;
}

.feature-icons:hover {
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: salmon;
    color: white;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: salmon;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
    /*20px top, 20px left and right, 50px bottom  */
}


/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .dog {
        position: static;
        transform: rotate(0);
    }
}


/* Call to Action */

#cta {
    text-align: center;
    background-color: salmon;
    padding-bottom: 3%;
    padding-top: 4%;
}

.cta-text {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

#cta .btn {
    margin: 20px;
}


/* Footer Section */

#footer {
    text-align: center;
    background-color: white;
}

.footer-icons {
    margin: 10px;
}